{% extends "base.html" %}

{% block title %}
TradeDesk | Dashboard
{% endblock %}

{% block content %}
<div class="dashboard-header">
    <div>
        <h1>Dashboard</h1>
        <p class="dashboard-subtitle">
            Welcome back, {{current_user.username}}!
        </p>
    </div>

    <a href="{{url_for('trade.add_trade')}}" class="btn-primary">
        + Add Trade
    </a>
</div>
<hr class="dashboard-divider">

<div class="dashboard-cards">

    <div class="stat-card">
        <h3>🔥 Current Streak</h3>
        <h2>{{current_streak}}</h2>
    </div>

    <div class="stat-card">
        <h3>🎯 Accuracy</h3>
        <h2>
            {{ weekly_accuracy}}%
        </h2>
    </div>

    <div class="stat-card">
        <h3>💰 Total P&L</h3>
        <h2>
            {% if weekly_pnl > 0 %}
            <span class="profit">
                ▲ +${{ "{:,.2f}".format(weekly_pnl) }}
            </span>

            {% elif weekly_pnl < 0 %} <span class="loss">
                ▼ -${{ "{:,.2f}".format(weekly_pnl|abs) }}
                </span>

                {% else %}
                <span class="neutral">
                    $0.00
                </span>
                {% endif %}
        </h2>
    </div>

    <div class="stat-card">
        <h3>📊 Total Trades</h3>
        <h2>{{weekly_trade_count}}</h2>
    </div>

</div>

<h2 class="section-title">Recent Trades</h2>
<table class="trade-table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Amount</th>
            <th>Plan</th>
        </tr>
    </thead>

    <tbody>

        {% for trade in recent_trades %}

        <tr>

            <td>{{ trade.trade_date }}</td>

            <td>{{ trade.trade_time.strftime('%H:%M') if trade.trade_time else '-' }}</td>

            <td>

                {% if trade.amount > 0 %}

                <span class="profit">
                    +${{ "%.2f"|format(trade.amount) }}
                </span>

                {% elif trade.amount < 0 %} <span class="loss">
                    -${{ "%.2f"|format(trade.amount|abs) }}
                    </span>

                    {% else %}

                    <span class="neutral">
                        $0.00
                    </span>

                    {% endif %}
            </td>

            <td>
                {% if trade.followed_plan %}
                ✅
                {% else %}
                ❌
                {% endif %}
            </td>

        </tr>

        {% endfor %}

    </tbody>

</table>

<div class="calender-card">

    <div class="calender-header">

        <a href="{{url_for('dashboard', year=prev_year,month=prev_month)}}" class="calender-btn">
            &#10094;
        </a>

        <h3>{{current_month}} {{ current_year }}</h3>

        <a href="{{url_for('dashboard', year=next_year, month=next_month)}}" class="calender-btn">
            &#10095;
        </a>
    </div>

    <div class="calender-weekdays">
        <div>Mon</div>
        <div>Tue</div>
        <div>Wed</div>
        <div>Thu</div>
        <div>Fri</div>
        <div>Sat</div>
        <div>Sun</div>
    </div>

    <div class="calender-grid">
        {% for cell in calender_data %}

        {% if cell is none %}

        <div class="calender-empty"></div>

        {% else %}

        {% set day = cell.date %}
        {% set info = cell.info %}

        <a 
            href="{{url_for('dashboard',
            year=current_year,
            month=current_month_number,
            selected=day.strftime('%Y-%m-%d')
            )}}"
            class="calender-link"
        >

        <div class="calender-day {{info.status}}{% if selected_date == day %} selected{% endif %}">

            <div class="day-number">
                {{day.day}}
            </div>

            {% if info.status == "success" or info.status == "failure" %}

            <div class="day-trades">
                {{info.trades}} Trades
            </div>

            <div class="day-pnl">

                {% if info.pnl >= 0 %}
                +${{ "%.2f"|format(info.pnl) }}
                {% else %}
                -${{ "%.2f"|format(info.pnl|abs) }}
                {% endif %}

            </div>

            {% elif info.status == "weekend" %}

            <div class="day-empty">
                Weekend
            </div>

            {% elif info.status == "no_trade" %}

            <div class="day-empty">
                No Trade
            </div>

            {% endif %}

        </div>

        </a>

        {% endif %}

        {% endfor %}

    </div>

    {% if day_summary %}

    <div class="summary-card">

        <div class="summary-item">
            <h4>Trades</h4>
            <p>{{ day_summary.total_trades }}</p>
        </div>

        <div class="summary-item">
            <h4>Net P&L</h4>

            {% if day_summary.total_pnl >= 0 %}

                <p class="profit">
                    +${{ "%.2f"|format(day_summary.total_pnl) }}
                </p>
            
            {% else %}

                <p class="loss">
                    -${{ "%.2f"|format(day_summary.total_pnl|abs) }}
                </p>
            {% endif %}

        </div>

        <div class="summary-item">
            <h4>Accuracy</h4>
            <p>{{ day_summary.accuracy }}</p>
        </div>

        <div class="summary-item">
            <h4>Plan Followed</h4>
            <p>{{ day_summary.followed_percentage }}</p>
        </div>

        <div class="summary-item">
            <h4>Status</h4>
            <p>{{ day_summary.status }}</p>
        </div>

    </div>

{% endif %}

    {% if day_details %}

    <div class="day-details-card">

        <h2>
            {{selected_date.strftime("%d %B %Y")}}
        </h2>

        {% for trade in day_details %}

        <div class="trade-details">

            <p>
                Time:
                {{ trade.trade_time.strftime("%H:%M")}}
            </p>

            <p>
            {% if trade.is_profit %}
                +${{ "%.2f"|format(trade.amount) }}
            {% else %}
                -${{ "%.2f"|format(trade.amount|abs) }}
            {% endif %}
            </p>

            <p>

            {% if trade.followed_plan %}
                ✅ Followed Plan
            {% else %}
                ❌ Didn't Follow Plan
            {% endif %}

            </p>

            <p>
                {{trade.notes}}
            </p>

            <hr>

        </div>

        {% endfor %}
    </div>

    {% endif %}

    {% endblock %}